h1.center Calendar Sync
p Promote your organization's special events, all with the press of a button.
p 
  | Calendar Sync gives your church, non-profit, or other organization an easy to use button that will allow your members, donors, or other
  | important people to subscribe to your event calendar.
p With the press of a button, now your events will appear on their phone calendar.
p Make sure your group's members remember all your important fundraisers, activities, and meetings.
= link_to 'Get Started Now', new_user_registration_path, class: 'button button-stretch'