h1.center Calendar Sync
p Increase participation in your organization by making sure no one forgets your events.
p With the press of a button, your events can appear on your members' phone calendars.
= link_to 'Get Started Now', new_user_registration_path, class: 'button button-stretch'