.flash {
  border-radius: 4px;
  width: 100%;
  padding: 20px;
  font-weight: bold;
  margin-bottom: 30px;

  &.notice {
    background: #009100;
    color: #fff;
  }

  &.error {
    background: #c33;
    color: #fff;
  }
}