.navigation__item {
  margin: 0 15px;
}

.navigation {
  height: 5rem;
  box-shadow: 0 1px #eee;
  margin-bottom: 3rem;

  .container {
    height: 100%;
    display: flex;
    align-items: center;
  }
}

.get-started {
  margin-left: auto;
  display: flex;
  
  .button {
    margin: 0;
  }
}

.logo {
  margin-top: -2px;
  margin-right: 6rem;

  h4 {
    display: inline;
  }
}